<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link href="{{ 'resources/css/auth.css' }}" rel="stylesheet"/>
    <title>{{ title }}</title>
</head>

<body>
<div class="back">
    <a href="index.php" class="fa fa-arrow-circle-left"></a>
</div>
<div class="main">
    <div class="title">
        REGISTER
    </div>
    <div class="box">
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       placeholder="Your name" name="name" required>
            </div>
            <div class="form-group">
                <label for="family-name">Family name</label>
                <input type="text" class="form-control" id="family-name"
                       placeholder="Your Family name" name="family_name" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email" name="email" required>
                <small id="emailHelp" class="form-text text-muted">Trust us we'll never share your email with anyone
                    else.</small>
            </div>

            <div class="form-group">
                <label for="address" class="required mx-2">Address</label>
                <input type="text" class="form-control" id="address"
                       placeholder="Address" name="address" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
            </div>
            <div class="form-group">
                <label for="phone_number">Phone number</label>
                <input type="number" class="form-control" id="phone_number" placeholder="Phone number" name="phone_number" required>
            </div>
            <div class="form-check form-check-inline">
                <div class="client-check">
                    <input class="form-check-input" type="radio" value="client" name="client_or_transporter" id="client-check" checked>
                    <label class="form-check-label" for="client-check">
                        Client
                    </label>
                </div>
            </div>
            <div class="form-check form-check-inline">
                <div class="transporter-check">
                    <input class="form-check-input" type="radio" value="transporter" name="client_or_transporter" id="transporter-check" >
                    <label class="form-check-label" for="transporter-check">
                        Transporter
                    </label>
                </div>
            </div>
            <div id="show-wilayas" style="display: none">
                <div class="py-3">
                    Quelles sont les wilayas que vous voulez servire:
                </div>
                {% for wilaya in wilayas %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ wilaya.getWilayaId() }}" id="wilaya-{{ wilaya.getWilayaId() }}" name="wilayas[]">
                        <label class="form-check-label" for="wilaya-{{ wilaya.getWilayaId() }}">
                            {{ wilaya.getWilayaName() }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{{ 'login' }}">You already have an account</a>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<script src="{{ 'resources/js/auth.js' }}"></script>
</body>

</html>