{% extends 'base.html.twig' %}

{% block title%}
  {{ title }}
{% endblock %}


  {% block content %}
  {% include 'slideshow.html.twig' %}
  <div id="presentation">
    <div class="padding">
      <div class="container" id="#presentation">
        <h2 id="services" class="text-center m-5"></h2>
        <div class="row">
          <div class="col-sm-6">
            <iframe width="550" height="315" src="https://www.youtube.com/embed/diIOyfWTaB0"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
          <div class="col-sm-6 text-center">

            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quod id aut aperiam expedita quas
              hic,
              laborum deleniti eos eaque velit inventore autem ab. Vero rerum error deleniti quod. Facere.
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>Built with Sass</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quasi iste delectus molestias, nam eos
              iusto. Quae, similique! Dolore suscipit animi ullam nobis et nostrum rerum minus aliquid harum optio.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ 'resources/assets/img/sass.png' }}" alt="" height="200" width="200" class="img-responsive">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>Built with Sass</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quasi iste delectus molestias, nam eos
              iusto. Quae, similique! Dolore suscipit animi ullam nobis et nostrum rerum minus aliquid harum optio.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ 'resources/assets/img/less.png' }}" alt="" height="200" width="200" class="img-responsive">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="fixed1">

  </div>

    <div class="padding">
      <div class="container" id="annonces">
        <h2 class="text-center m-5">Rechercher une annonce</h2>
        <div class="row justify-content-center">
          <form class="form-inline" id="searchAnnouncementsUserForm">
            <label for="start_point" class="required mx-2">Point de depart</label>
            <select class="form-control form-select-lg" id="start_point" name="start_point">
              {% for wilaya in wilayas %}
                <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
              {% endfor %}
            </select>
            <label for="end_point" class="required mx-2">Point d'arrive</label>
            <select class="form-control" id="end_point" name="end_point">
              {% for wilaya in wilayas %}
                <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-outline-success mx-2" type="submit">Search</button>
          </form>
        </div>
        <div class="row justify-content-center">
          <img src="{{ 'resources/assets/img/loading.gif' }}" alt="loading" height="50" width="50" id="loading" style="display: none">
        </div>
        <div class="row justify-content-center" id="result-not-found">
        </div>
        <div class="row mt-2 justify-content-center align-items-center" id="row1">
          {#     Loading gif     #}

          {% for announcement in announcements %}
            <div class="col-md-3 mb-4">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">TITLE</h5>
                  <div><b>Start point</b>{{ announcement["start_point"] }}</div>
                  <div><b>End point</b>{{ announcement["end_point"] }}</div>
                  <div><b>Type</b>{{ announcement["type"] }}</div>
                  <div><b>Weight</b>{{ announcement["weight"] }}</div>
                  <div><b>Volume</b>{{ announcement["volume"] }}</div>
                  {% if isAuthenticated%}
                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                  {% endif %}
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
        <div id="how-it-works"><a>How it works ?</a></div>
      </div>
    </div>

{#  <div id="fixed2">#}

{#  </div>#}
    <div class="padding">
      <div class="container" id="news">
        <h2 class="text-center mb-5">Some news maybe</h2>
        <div class="row">
          <div class="col-sm-6">
            <h3>The cool things about our services</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quam blanditiis illum quos laboriosam
              placeat
              provident unde est ipsum ipsa culpa voluptate, temporibus saepe minima tenetur officia quasi explicabo iure!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat quidem modi ratione quae, assumenda
              officiis, veritatis maxime dicta harum obcaecati laboriosam at quo. Sequi beatae nisi dicta animi autem.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde necessitatibus laborum, earum animi obcaecati
              molestias quo dolores modi iusto deserunt perspiciatis odio minus error quibusdam illo qui, esse id quis.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis asperiores reprehenderit quibusdam labore
              quae nemo placeat qui adipisci corrupti assumenda, ducimus magni provident ea. Aperiam adipisci maiores odio
              a
              voluptatibus?
            </p>
          </div>
          <div class="col-sm-6 test">
            <img src="{{ 'resources/assets/img/bootstrap2.png' }}" alt="" height="300" width="500">
          </div>
        </div>
      </div>
    </div>


  <div id="fixed3">

  </div>


<!-- Statistics -->
  <div class="padding">
    <div class="container" id="stats">
      <div class="text-center">
        <h2 style="font-size: 4rem;" >Statistics</h2>
      </div>
      <div class="row my-4">
        <div class="col-sm-4">
          <canvas id="myChart1" width="400" height="400"></canvas>
        </div>
        <div class="col-sm-4">
          <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
        <div class="col-sm-4">
          <canvas id="myChart3" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>

{% endblock %}