{% extends 'base.html.twig' %}

{% block title%}
  {{ title }}
{% endblock %}


  {% block content %}
  {% include '_includes/slideshow.html.twig' %}
  {% include '_includes/presentation.html.twig' %}

  <div id="fixed1">

  </div>

    <div class="padding">
      <div class="container" id="annonces">
        <h2 class="text-center m-5">Rechercher une annonce</h2>
        <div class="row justify-content-center">
          <form class="form-inline" id="searchAnnouncementsUserForm">
            <label for="start_point" class="required mx-2">Point de depart</label>
            <select class="form-control form-select-lg" id="start_point" name="start_point">
              {% for wilaya in wilayas %}
                <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
              {% endfor %}
            </select>
            <label for="end_point" class="required mx-2">Point d'arrive</label>
            <select class="form-control" id="end_point" name="end_point">
              {% for wilaya in wilayas %}
                <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-outline-success mx-2" type="submit">Search</button>
          </form>
        </div>
        <div class="row justify-content-center">
          <img src="{{ 'resources/assets/img/loading.gif' }}" alt="loading" height="50" width="50" id="loading" style="display: none">
        </div>
        <div class="row justify-content-center" id="result-not-found">
        </div>
        <div class="row mt-2 justify-content-center align-items-center" id="row1">
          {#     Loading gif     #}

          {% for announcement in announcements %}
            <div class="col-md-3 mb-4">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">TITLE</h5>
                  <div><b>Start point</b>{{ announcement.getStartPoint().getWilayaName() }}</div>
                  <div><b>End point</b>{{ announcement.getEndPoint().getWilayaName() }}</div>
                  <div><b>Type</b>{{ announcement.getType()}}</div>
                  <div><b>Weight</b>{{ announcement.getWeight() }}</div>
                  <div><b>Volume</b>{{ announcement.getVolume() }}</div>
                  {% if isAuthenticated%}
                    <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                  {% endif %}
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
        <div id="how-it-works" class=""><a>How it works ?</a></div>
      </div>
    </div>

    {% if isAuthenticated %}
      <div class="padding">
      <div class="container-fluid">
        <div class="row" id="new-announcement">
          <div class="col-sm-6 p-5">
            <h2>Vous avez une nouvelle annonce ?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="col-sm-6 p-5">
            <div class="alert alert-success alert-dismissible show fade" role="alert" id="added-success-alert" style="display: none">
              Votre annonce a ete ajoute avec success
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="newAnnouncementForm">
              <div class="m-2">
                <label for="start_point" class="required">Point de depart</label>
                <select class="form-control form-select-lg" id="start_point" name="start_point">
                  {% for wilaya in wilayas %}
                    <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="m-2">
                <label for="end_point" class="required">Point d'arrive</label>
                <select class="form-control" id="end_point" name="end_point">
                  {% for wilaya in wilayas %}
                    <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="m-2">
                <label for="type" class="required">Le type de transport</label>
                <select class="form-control" id="type" name="type">
                  <option value="1">lettre</option>
                  <option value="2">collis</option>
                  <option value="3">meuble</option>
                  <option value="4">électroménager</option>
                  <option value="5">déménagement</option>
                </select>
              </div>

              <div class="m-2">
                <label for="weight" class="required">Poids</label>
                <select class="form-control" id="weight" name="weight">
                  <option value="100">entre 0 et 100 gr</option>
                  <option value="1000">entre 100gr et 1kg</option>
                  <option value="5000">entre 1kg et 5kg </option>
                  <option value="10000">entre 5kg et 10kg </option>
                  <option value="-1">plus </option>
                </select>
              </div>

              <div class="m-2">
                <label for="volume" class="required">Volume</label>
                <input id="volume" type="number" step="0.01" class="form-control" name="volume">
              </div>
              <div class="m-2">
                <label for="way" class="required">Methode</label>
                <select class="form-control" id="way" name="way">
                  <option value="1">voiture</option>
                  <option value="2">fourgon</option>
                  <option value="3">camion</option>
                  <option value="4">avion</option>
                </select>
              </div>
              <div class="m-2">
                <label for="message">Description</label>
                <textarea name="description" id="message" class="form-control" maxlength="255">
                        </textarea>
              </div>
              <button type="submit" class="btn btn-primary my-1 form-control my-5 mx-2">Submit</button>
            </form>
          </div>
        </div>
      </div>

    {% endif %}

{#  <div id="fixed2">#}

{#  </div>#}
    {% include '_includes/news.html.twig' %}

  <div id="fixed3">

  </div>
    <!-- Statistics -->
    {% include '_includes/stats.html.twig' %}

    {# scroll top button   #}
    <button id="scrollTopBtn" class="fa fa-arrow-up"></button>

    {% include '_includes/footer.html.twig' %}

{% endblock %}