{% extends 'user_base.html.twig' %}

{% block title%}
    Announcement details
{% endblock %}

{% block styles %}
    <link href="{{ 'resources/css/annoucement_details.css' }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5 announcement">
        <div class="row">
            {% if announcement %}
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center texprofile-buttont-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="200px" height="" src="{{ announcement.getImagePath() != "" ? announcement.getImagePath() : "https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" }}" alt="">
                    </div>
                </div>

                <div class="col-md-9 border-right">
                    <div class="alert alert-success alert-dismissible show fade" role="alert" id="application-success" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-danger alert-dismissible show fade" role="alert" id="application-error" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h1 class="text-right">Announcement</h1>
                            <span>By {{ announcement.getUser().getName() }}</span>
                        </div>
                        <div class="row mt-2">
                            <h3>Details</h3>
                        </div>
                        <div class="m-3">
                            <div class="row"><b>Wilaya de depart: </b><div class="ml-2">{{ announcement.getStartPoint().getWilayaName() }}</div></div>
                            <div class="row"><b>Wilaya d'arrive: </b><div class="ml-2">{{ announcement.getEndPoint().getWilayaName() }}</div></div>
                            <div class="row"><b>Le type de l'objet: </b><div class="ml-2">{{ announcement.getType() }}</div></div>
                            <div class="row"><b>Son poids: </b><div class="ml-2">{{ announcement.getWeight() }} Kg</div></div>
                            <div class="row"><b>Son Volume: </b><div class="ml-2">{{ announcement.getVolume() }}</div></div>
                        </div>
                        <label for="announcement-id"></label><input hidden value="{{ announcement.getAnnouncementId() }}" id="announcement-id">
                        <div class="row mt-2">
                            <h3>Description</h3>
                        </div>

                        <div class="row">
                            {{ announcement.getMessage() }}
                        </div>

                        <div class="row mt-3">
                            <span class="price">Price {{ announcement.getPrice() }} $</span>
                            {% if is_transporter %}
                                {% if announcement.getStatus() != 'approved' %}
                                    <div class="ml-auto">
                                        {#            Change this based on notification                    #}
                                        <button class="btn btn-blue" id="apply-btn">Postuler</button>
                                    </div>
                                {% else %}
                                    <div class="ml-auto">
                                        Un autre transporteur a deja repondu a cette annonce
                                    </div>
                                {% endif %}
                            {% endif %}
                            {#          Only the Owner can see the status                  #}

                        </div>
                    </div>
                </div>

            {% else %}
                <div class="col-center">
                    404 Not found
                </div>
            {% endif %}
        </div>
        {% if announcement.getUser().getUserId() == user.getUserId() %}
            <div class="text-center">
                <h2>Les transporteurs proposes</h2>
            </div>
            <div class="row d-flex">

                {% for transporter in possible_transporters %}
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-baseline">
                                    <h5 class="card-title">{{ transporter.getName() }} {{ transporter.getFamilyName() }}</h5>
                                    <img class="ml-auto" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="" height="50" width="50">
                                </div>
                                <p class="card-text">{{ transporter.getPhoneNumber() }}</p>

                                <button class="btn btn-primary btn-sm demand" data-transporter-id="{{ transporter.getUserId() }}">Demander transport</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}