
<div>
    <div>
        <h1>All Announcements</h1>
    </div>
    <div>
        <label for="search-user"></label>
        <input type="text" placeholder="search" id="search-user" class="form-control-lg my-2">
    </div>
    <div>

    </div>
    <table id=""
           class="table table-striped table-bordered table-sm"
           data-pagination="true"
           data-search="true"
    >
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Owner
            </th>
            <th class="th-sm">Start point
            </th>
            <th class="th-sm">End point
            </th>
            <th class="th-sm">Type
            </th>
            <th class="th-sm">Weight
            </th>
            <th class="th-sm">Volume
            </th>
{#            <th class="th-sm">Status#}
{#            </th>#}
            <th class="th-sm">Posted at
            </th>
            <th class="th-sm">Validated?
            </th>
            <th class="th-sm">Price
            </th>
            <th class="th-sm">Archived
            </th>
            <th class="th-sm">Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for announcement in announcements%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ announcement.getUser().getName() }}</td>
                <td>{{ announcement.getStartPoint().getWilayaName() }}</td>
                <td>{{ announcement.getEndPoint().getWilayaName() }}</td>
                <td>{{ announcement.getType() }}</td>
                <td>{{ announcement.getWeight() }}</td>
                <td>{{ announcement.getVolume() }}</td>
{#                <td>{{ announcement.getStatus() }}</td>#}
                <td>{{ announcement.getPostedAt() }}</td>
                <td>{{ announcement.isValidated ? "Yes" : "Non" }}</td>
                <td>{{ announcement.getPrice() }}</td>
                <td>{{ announcement.isArchived() ? "Yes" : "No" }}</td>
                <td>
                    <div class="d-flex flex-row align-items-baseline">

                        {% if not announcement.isValidated() %}
                            <div>
                                <button class="btn btn-green validate" data-announcement-id="{{ announcement.getAnnouncementId() }}">Validate</button>
                            </div>
                        {% else %}
                            {% if not announcement.isArchived() %}
                                <div>
                                    <button class="btn btn-danger delete" data-announcement-id="{{ announcement.getAnnouncementId() }}">Delete</button>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>


    <div>
        <h1>
            Current transactions
        </h1>
        <table id=""
               class="table table-striped table-bordered table-sm"
               data-pagination="true"
               data-search="true"
        >
            <thead>
            <tr>
                <th class="th-sm">Id
                </th>
                <th class="th-sm">Transporter
                </th>
                <th class="th-sm">Client
                </th>
{#                <th class="th-sm">Actions#}
{#                </th>#}
            </tr>
            </thead>
            <tbody>
            {% for current_transaction in current_transports %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ current_transaction.getTransporter().getName()  }} {{ current_transaction.getTransporter().getFamilyName() }}</td>
                    <td class="text-center">{{ current_transaction.getAnnouncement().getUser().getName()  }} {{ current_transaction.getAnnouncement().getUser().getFamilyName() }}</td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div>
        <h1>
            Archived transactions
        </h1>
        <table id=""
               class="table table-striped table-bordered table-sm"
               data-pagination="true"
               data-search="true"
        >
            <thead>
            <tr>
                <th class="th-sm">Id
                </th>
                <th class="th-sm">Transporter
                </th>
                <th class="th-sm">Client
                </th>
                {#                <th class="th-sm">Actions#}
                {#                </th>#}
            </tr>
            </thead>
            <tbody>
            {% for archived_transaction in archived_transactions %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ archived_transaction.getTransporter().getName()  }} {{ archived_transaction.getTransporter().getFamilyName() }}</td>
                    <td class="text-center">{{ archived_transaction.getAnnouncement().getUser().getName()  }} {{ archived_transaction.getAnnouncement().getUser().getFamilyName() }}</td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>