
<div>
    <div>
        <h1>All Clients</h1>
    </div>
    <div>
        <label for="search-user"></label>
        <input type="text" placeholder="search" id="search-user" class="form-control-lg my-2">
    </div>

    <table id="clients"
           class="table table-striped table-bordered table-sm"
           cellspacing="0"
           width="100%"
           data-pagination="true"
           data-search="true"
    >
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Family name
            </th>
            <th class="th-sm">Email
            </th>
            <th class="th-sm">Phone number
            </th>
            <th class="th-sm">Address
            </th>
            <th class="th-sm">Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr data-user-id="{{ client.getUserId() }}">
                <td>{{ loop.index }}</td>
                <td>{{ client.getName() }}</td>
                <td>{{ client.getFamilyName() }}</td>
                <td>{{ client.getEmail() }}</td>
                <td>{{ client.getPhoneNumber() }}</td>
                <td>{{ client.getAddress() }}</td>
                <td>
                    <div class="d-flex flex-row align-items-baseline">
                        <div >
{#                            when clicked show a modal #}
                            <a class="btn btn-blue" >Voir profile</a>
                        </div>
                        <div>
{#                           bann a user#}
                            <button class="btn btn-danger ban-user" data-user-id="{{ client.getUserId() }}">Ban user</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>


    <div class="mt-5">
        <h1>Banned clients</h1>
    </div>
    <div>
        <label for="search-user"></label>
        <input type="text" placeholder="search" id="search-user" class="form-control-lg my-2">
    </div>
    <table id="banned-clients"
           class="table table-striped table-bordered table-sm"
           cellspacing="0"
           width="100%"
           data-pagination="true"
           data-search="true"
    >
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Family name
            </th>
            <th class="th-sm">Email
            </th>
            <th class="th-sm">Phone number
            </th>
            <th class="th-sm">Address
            </th>
            <th class="th-sm">Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for client in banned_clients %}
            <tr data-user-id="{{ client.getUserId() }}">
                <td>{{ loop.index }}</td>
                <td>{{ client.getName() }}</td>
                <td>{{ client.getFamilyName() }}</td>
                <td>{{ client.getEmail() }}</td>
                <td>{{ client.getPhoneNumber() }}</td>
                <td>{{ client.getAddress() }}</td>
                <td>
                    <div class="d-flex flex-row align-items-baseline">
                        <div>
                            {#                           bann a user#}
                            <button class="btn btn-success unban-user" data-user-id="{{ client.getUserId() }}">Unban user</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>