
<div>
    <div>
        <h1>All Clients</h1>
    </div>

    <table id="clients-table"
           class="table table-striped table-bordered table-sm"
           data-pagination="true"
           data-search="true"
    >
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Family name
            </th>
            <th class="th-sm">Email
            </th>
            <th class="th-sm">Phone number
            </th>
            <th class="th-sm">Address
            </th>
            <th class="th-sm">Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr data-user-id="{{ client.getUserId() }}">
                <td>{{ loop.index }}</td>
                <td>{{ client.getName() }}</td>
                <td>{{ client.getFamilyName() }}</td>
                <td>{{ client.getEmail() }}</td>
                <td>{{ client.getPhoneNumber() }}</td>
                <td>{{ client.getAddress() }}</td>
                <td>
                    <div class="d-flex flex-row align-items-baseline">
                        <div>
                            {# bann a user #}
                            <button class="btn btn-danger ban-user" data-user-id="{{ client.getUserId() }}">Ban user</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>