<div>
    <div>
        <h1>
            Le prix unitaire des trajets
        </h1>
        <table id="dtBasicExample"
               class="table table-striped table-bordered table-sm"
               data-pagination="true"
               data-search="true"
        >
            <thead>
            <tr>
                <th class="th-sm text-center">Point de depart
                </th>
                <th class="th-sm text-center">Point d'arrive
                </th>
                <th class="th-sm text-center">Prix de transporteur
                </th>
{#                <th class="th-sm text-center">Actions#}
{#                </th>#}
            </tr>
            </thead>
            <tbody>
            {% for price in pricing %}
                <tr>
                    <td class="text-center">{{ price.getStartPoint().getWilayaName() }}</td>
                    <td class="text-center">{{ price.getEndPoint().getWilayaName() }}</td>
                    <td class="text-center">{{ price.getPrice() }}</td>
{#                    <td class="d-flex align-items-center justify-content-center">#}
{#                        <div class="d-flex flex-row align-items-baseline">#}
{#                            <div>#}
{#                                <a class="btn btn-danger">Delete</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    <div>
        <div>
            <h2>Ajouter ou modifier un prix</h2>
        </div>
        <form id="pricing-form">
            <div class="m-2">
                <label for="price_start_point" class="required">Point de depart</label>
                <select class="form-control form-select-lg" id="price_start_point" name="price_start_point">
                    {% for wilaya in wilayas %}
                        <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="m-2">
                <label for="price_end_point" class="required">Point d'arrive</label>
                <select class="form-control" id="price_end_point" name="price_end_point">
                    {% for wilaya in wilayas %}
                        <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="m-2">
                <label for="price">Price</label>
                <input class="form-control" id="price" type="number">
            </div>
            <div class="m-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

</div>