
<div>
    <div>
        <h1>All Transporters</h1>
    </div>

    <table id=""
           class="table table-striped table-bordered table-sm"
           data-pagination="true"
           data-search="true"
    >
        <thead>
        <tr>
            <th class="th-sm">Id
            </th>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Family name
            </th>
            <th class="th-sm">Email
            </th>
            <th class="th-sm">Phone number
            </th>
            <th class="th-sm">Inventory
            </th>
            <th class="th-sm">Certified
            </th>
            <th class="th-sm">Validation
            </th>
            <th class="th-sm">Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for transporter in transporters %}
            <tr data-transporter-id="{{ transporter.getUserId() }}">
                <td>{{ loop.index }}</td>
                <td>{{ transporter.getName() }}</td>
                <td>{{ transporter.getFamilyName() }}</td>
                <td>{{ transporter.getEmail() }}</td>
                <td>{{ transporter.getPhoneNumber() }}</td>
                <td>{{ transporter.getInventory() }}</td>
                <td>{{ transporter.isCertfied ? "Yes" : "No" }}</td>
                <td>{{ transporter.isValidated() ? "confrimed" : "not confirmed" }}</td>
                <td>
                    <div class="d-flex flex-row align-items-baseline">
                        {% if not transporter.isValidated() %}
                            <div class="m-2">
                                <a class="btn btn-green validate" data-transporter-id="{{ transporter.getUserId() }}">Confirm</a>
                            </div>

                        {% else %}
                            <div >
                                <a class="btn btn-blue" data-transporter-id="{{ transporter.getUserId() }}">Voir profile</a>
                            </div>
                            <div>
                                <button class="btn btn-danger ban-transporter" data-transporter-id="{{ transporter.getUserId() }}">Ban transporter</button>
                            </div>
                        {% endif %}

                    </div>
                </td>
            </tr>
        {% endfor %}


        </tbody>
        <tfoot>
        </tfoot>
    </table>


{#    ========================================= Begin demande de certification =========================================#}
    <div>
        <h1>
            Demande de certficats
        </h1>
        <table id=""
               class="table table-striped table-bordered table-sm"
               cellspacing="0"
               width="100%"
               data-pagination="true"
               data-search="true"
        >
            <thead>
            <tr>
                <th class="th-sm">Id
                </th>
                <th class="th-sm">Name
                </th>
                <th class="th-sm">Family name
                </th>
                <th class="th-sm">Email
                </th>
                <th class="th-sm">Phone number
                </th>
                <th class="th-sm">Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">Donna Snider</td>
                <td class="text-center">Customer Support</td>
                <td class="text-center">New York</td>
                <td class="text-center">27</td>
                <td class="text-center">2011/01/25</td>
                <td class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-row align-items-baseline">
                        <div>
                            <a class="btn btn-green">Valider</a>
                        </div>
                        <div>
                            <button class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="text-center">Donna Snider</td>
                <td class="text-center">Customer Support</td>
                <td class="text-center">New York</td>
                <td class="text-center">27</td>
                <td class="text-center">2011/01/25</td>
                <td class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-row align-items-baseline">
                        <div>
                            <a class="btn btn-green">Valider</a>
                        </div>
                        <div>
                            <button class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">Donna Snider</td>
                <td class="text-center">Customer Support</td>
                <td class="text-center">New York</td>
                <td class="text-center">27</td>
                <td class="text-center">2011/01/25</td>
                <td class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-row align-items-baseline">
                        <div>
                            <a class="btn btn-green">Valider</a>
                        </div>
                        <div>
                            <button class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center">Donna Snider</td>
                <td class="text-center">Customer Support</td>
                <td class="text-center">New York</td>
                <td class="text-center">27</td>
                <td class="text-center">2011/01/25</td>
                <td class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-row align-items-baseline">
                        <div>
                            <a class="btn btn-green">Valider</a>
                        </div>
                        <div>
                            <button class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    </div>
{#    ================================================== End demande de certification table ================================#}
</div>