{% extends 'user_base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content%}
    <div class="container-fluid">
        <div class="row applications ml-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Announcement</th>
                    <th scope="col">Transporter</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for application in applications %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ application.getTransporter().getName() }} {{ application.getTransporter().getFamilyName() }}</td>
                        <td>{{ application.getAnnouncement().getPrice() }}</td>
                        <td>
                            <div>
                                <a href=details?id={{ application.getAnnouncement().getAnnouncementId() }} class="btn btn-primary" >Announcement Details</a>
                                <button class="btn btn-success" id="accept-application-btn" data-announcement-id="{{ application.getAnnouncement().getAnnouncementId() }}"  data-transporter-id="{{ application.getTransporter().getUserId() }}" data-toggle="modal" data-target="#exampleModal">Accept</button>
                                <button class="btn btn-danger" id="refuse-application-btn" data-announcement-id="{{ application.getAnnouncement().getAnnouncementId() }}"  data-transporter-id="{{ application.getTransporter().getUserId() }}">Refuse</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}



                </tbody>
            </table>
            <!-- Accept modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div style="display: flex; align-content: baseline;">
                                <img alt="" src="{{ 'resources/assets/img/check.png' }}" height="50" width="50" id="modal-logo">
                                <h5 class="modal-title" id="exampleModalLabel">Transaction accepted</h5>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

