{% extends 'user_base.html.twig' %}
{% block title %}
    History
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="announcements">
            <table class="table table-hover" id="announcements-table">
                <thead>
                <tr>
                    <th scope="col">Announcement</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">For</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr data-row-index={{ loop.index }}>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ transaction.getAnnouncement().getStartPoint().getWilayaName() }}</td>
                        <td>{{ transaction.getAnnouncement().getEndPoint().getWilayaName() }}</td>
                        <td>{{ transaction.getAnnouncement().getUser().getName() }}</td>
                        <td>{{ transaction.getAnnouncement().getPrice() }} DZ</td>
                        <td >
                            <div class="d-flex">
                                <a class="btn btn-danger m-2" href="{{ 'signal' }}?client_id={{ transaction.getAnnouncement().getUser().getUserId() }}">Signaler le transporteur</a>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}