{% extends 'transporter_base.html.twig' %}
{% block title %}
    {{ _title }}
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
    <div class="padding">
        <div class="row" id="announcements">
            <div class="container">
                <h2 class="text-center m-5">Rechercher une annonce</h2>
                <div class="row justify-content-center">
                    <form class="form-inline" id="searchAnnouncementsTransporterForm">
                        <label for="start_point" class="required mx-2">Point de depart</label>
                        <select class="form-control form-select-lg" id="client_start_point" name="start_point">
                            {% for wilaya in wilayas %}
                                <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
                            {% endfor %}
                        </select>
                        <label for="end_point" class="required mx-2">Point d'arrive</label>
                        <select class="form-control" id="client_end_point" name="end_point">
                            {% for wilaya in wilayas %}
                                <option value="{{ wilaya.getWilayaId() }}">{{ wilaya.getWilayaName() }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-outline-success mx-2" type="submit">Search</button>
                    </form>
                </div>
                <div class="row justify-content-center">
                    <img src="{{ 'resources/assets/img/loading.gif' }}" alt="loading" height="50" width="50" id="loading" style="display: none">
                </div>
                <div class="row justify-content-center" id="result-not-found" style="display: none">
                    <div class='m-5'>0 Results found</div>
                </div>
                <div class="row mt-5 justify-content-center align-items-center" id="row1">
                    {% for announcement in announcements %}
                        <div class="col-md-3 mb-4">
                            <div class="card">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                                     alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">TITLE</h5>
                                    <div><b>Start point</b>{{ announcement["start_point"] }}</div>
                                    <div><b>End point</b>{{ announcement["end_point"] }}</div>
                                    <div><b>Type</b>{{ announcement["type"] }}</div>
                                    <div><b>Weight</b>{{ announcement["weight"] }}</div>
                                    <div><b>Volume</b>{{ announcement["volume"] }}</div>
                                    {% if loggedIn %}
                                        <a href='details?id={{ announcement["id"] }}' class="btn btn-outline-success btn-sm my-3">Read More</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer>
        <div class="container-fluid text-center">
            <div class="row" id="contact">
                <div class="col-sm-6">
                    <h3>Contact Us</h3>
                    <div>
                        Our address and contact here
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Connect</h3>
                    <a href="#" class="fa fa-facebook icon"></a>
                    <a href="#" class="fa fa-twitter icon"></a>
                    <a href="#" class="fa fa-instagram icon"></a>
                    <a href="#" class="fa fa-google icon"></a>
                    <a href="#" class="fa fa-linkedin icon"></a>
                </div>

            </div>
        </div>
    </footer>
{% endblock %}