{% extends 'user_base.html.twig' %}

{% block styles %}
    <link href="{{ 'resources/css/profile.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ user.getName() }} Profile
{% endblock %}
{% block content %}
    <div class="container rounded bg-white mt-5 mb-5 profile">
        <div class="row">
            <div class="col">
                <div class="alert alert-success show fade m-3" role="alert" id="cert-success-alert" style="width: 100% ;display: none">

                </div>
                <div class="alert alert-danger  show fade m-3" role="alert" id="cert-error-alert" style="width: 100% ;display: none">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="">
                    <span class="font-weight-bold">{{ user.getName() }}</span>
                    {% if user.isCertified() %}
                        <span class="my-3">Certified</span>
                    {% else %}
                        <span class="my-3">Non Certified et votre demande est {{ certification.getStatus() }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9 border-right">
{#                <div class="alert alert-success alert-dismissible show fade" role="alert" id="cert-success-alert" style="display: none">#}
{#                    Votre Demande de certification a ete envoye#}
{#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{ user.getName() }}" readonly></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="{{ user.getFamilyName() }}" placeholder="surname" readonly></div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Address</label><input  readonly type="text" class="form-control updated" value="{{ user.getAddress}}" id="address-field"></div>
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input  readonly type="text" class="form-control updated" value="{{ user.getPhoneNumber}}" id="phone-field"></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control updated" value="{{ user.getEmail() }}" readonly id="email-field"></div>
                    </div>


                    {% if user.isCertified() %}
                        <div class="row mt-3">
                            Your current inventory is <span class="ml-2">{{ user.getInventory() }} DZD</span>
                        </div>
                        <div class="mt-5 text-center">

                            <button class="btn btn-primary profile-button" type="button" id="enable-update-profile">Update</button>
                            <button class="btn btn-primary profile-button" type="button" id="submit-update-profile" style="display: none;">Submit</button>
                        </div>
                    {% else %}
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="button" id="cert-btn">Se certifier</button>
                            <button class="btn btn-primary profile-button" type="button" id="enable-update-profile">Update</button>
                            <button class="btn btn-primary profile-button" type="button" id="submit-update-profile" style="display: none;">Submit</button>
                            <button class="btn btn-danger profile-button" type="button" id="cancel-update-profile" style="display: none;">Cancel</button>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}