{% extends 'user_base.html.twig' %}
{% block title %}
    Current transactions
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="alert alert-success alert-dismissible show fade m-3" role="alert" id="finish-success-alert" style="width: 100% ;display: none">

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-hover" id="running">
                <thead>
                <tr>
                    <th scope="col">Announcement</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">For</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in current %}
                    <tr data-row-index={{ loop.index }}>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ transaction.getAnnouncement().getStartPoint().getWilayaName() }}</td>
                        <td>{{ transaction.getAnnouncement().getEndPoint().getWilayaName() }}</td>
                        <td>{{ transaction.getAnnouncement().getUser().getName() }}</td>
                        <td>{{ transaction.getAnnouncement().getPrice() }} DZ</td>
                        <td>
                            <div>
                                <button class="btn btn-success" data-announcement-id="{{ transaction.getAnnouncement().getAnnouncementId() }}" id="finish"  data-transporter-id="{{ transaction.getTransporter().getUserId() }}" data-row-index={{ loop.index }}>Finish</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}