{% extends 'client_base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content%}
    <div class="container-fluid">
        <div class="row" id="announcements">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Announcement</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Status</th>
                    <th scope="col">Price</th>
                    <th scope="col"><div class="ml-5">Actions</div></th>
                </tr>
                </thead>
                <tbody>
                {% for announcement in announcements %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ announcement.getStartPoint().getWilayaName() }}</td>
                        <td>{{ announcement.getEndPoint().getWilayaName() }}</td>

                        <td><div class="status {{ announcement.getStatus() }}">{{ announcement.getStatus() }}</div></td>
                        <td>{{ announcement.getPrice() }}</td>
                        <td>
                            <div class="ml-5">
                                {% if announcement.getStatus() == "pending" %}
                                    <a class="btn btn-primary" href="#">Details</a>
                                    <button class="btn btn-warning">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                {% endif %}
                                {% if announcement.getStatus() == "approved" %}
                                    <a class="btn btn-primary" href="#">Details</a>
                                    <button class="btn btn-warning disabled">Edit</button>
                                    <button class="btn btn-danger disabled">Delete</button>
                                {% endif %}
                                {% if announcement.getStatus() == "rejected" %}
{#                                  no action  #}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

