{% extends 'user_base.html.twig' %}
{% block title %}
    History
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="announcements">
            <table class="table table-hover" id="announcements-table">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Announcement</th>
                    <th scope="col" class="text-center">From</th>
                    <th scope="col" class="text-center">To</th>
                    <th scope="col" class="text-center">By</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr data-row-index={{ loop.index }}>
                        <th scope="row">{{ loop.index }}</th>
                        <td class="text-center">{{ transaction.getAnnouncement().getStartPoint().getWilayaName() }}</td>
                        <td class="text-center">{{ transaction.getAnnouncement().getEndPoint().getWilayaName() }}</td>
                        <td class="text-center">{{ transaction.getTransporter().getName() }} {{ transaction.getTransporter().getFamilyName() }}</td>
                        <td class="text-center">{{ transaction.getAnnouncement().getPrice() }} DZD</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-primary m-2" href="{{ 'feedback' }}?transporter_id={{ transaction.getTransporter().getUserId() }}">Noter transporteur</a>
                                <a class="btn btn-danger m-2" href="#">Signaler le transporteur</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}